<h1>Cookbook App</h1>

<p>You have visited this page <%= @visit_count %> times. </p>

<% @recipes.each do |recipe| %>
  <h2> <%= recipe.title %> </h2>
  <h4> <%= recipe.chef %> </h4>
  <h3> <%= recipe.ingridients %> </h3>
  <h3> <%= recipe.directions %> </h3>
  <br>

<% end %>s